body {
    font-family: 'Helvetica', sans-serif;
}
.navbar {
    height: 120px;
}

.navbar--title {
    font-size: 22px;
    height: 10px;
    padding: 2px;
}

.tabs-content {
    display: inline-block;
    float: right;
    width: 60%;
}

.querybox {
    border: 1px solid gray;
    border-radius: 5px;
    display:inline-block;
    float:left;
    height: 500px;
    text-align: center;
    width: 30%;
}

.querybox--endpoint {
    height: 5%;
    width: 95%;
}

.querybox--textarea {
    height: 70%;
    width: 95%;
}

.querybox--btn {
    border: none;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 2px;
    width: 30%;
}
