body {
    font-family: 'Helvetica', sans-serif;
}
.navbar {
    height: 120px;
}

.navbar--title {
    font-size: 15px;
}

.tabs-content {
    display: inline-block;
    float: right;
    width: 60%;
}

.querybox {
    border: 1px solid gray;
    border-radius: 5px;
    display:inline-block;
    float:left;
    height: 600px;
    text-align: center;
    width: 30%;
}

.querybox--title {
    font-size: 10px;
    height: 5px;
    padding: 1px;
}

.querybox--endpoint {
    display: inline-block;
    height: 3%;
    width: 95%;
}

.querybox--textarea {
    height: 35%;
    width: 95%;
}

.querybox--btn {
    border: none;
    cursor: pointer;
    height: 20px;
    margin: 2px;
    display: inline-block;
    width: 25%;
}

.examples table {
    cursor: pointer;
}

.examples table th {
  cursor:default;
}

.result-graph {
    height: 30%; 
    width: 60%;
}

